rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create, update: if isOwner(userId);
      allow delete: if isOwner(userId);
      match /friends/{friendId} {
        allow read, write: if isOwner(userId) || isOwner(friendId);
      }
    }
    match /heyhos/{heyhoId} {
      allow create: if isSignedIn() && request.resource.data.fromUserId == request.auth.uid;
      allow read: if isSignedIn() && resource.data.toUserId == request.auth.uid;
      allow delete: if false;
      allow update: if false;
    }

    match /inviteCodes/{code} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if false;
    }
  }
}
